.displayHidden {
  display: none !important;
}
.unselectable {
  user-select: none;
}
.opacityZero {
  opacity: 0 !important;
}
html {
  height: 100%;
}
body {
  line-height: initial;
  height: 100%;
}
body.mobile-side-slide {
  position: relative;
  overflow-x: visible;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.bold {
  font-weight: bold;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h6 {
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 24px;
  margin-bottom: 18px;
}
.page-size {
  z-index: 1000;
  position: fixed;
  top: 60px;
  left: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
}
.header-box-1 {
  width: 100% !important;
  margin: 0px;
}
.site-logo {
  margin-left: 60px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial !important;
  padding-bottom: 4px;
  color: #0e3375;
}
#Top_bar {
  height: 60px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 30;
  background: whitesmoke;
}
.logo-text-name {
  font-weight: 700;
  font-size: 18px;
}
.logo-text-title {
  font-size: 14px;
  letter-spacing: 0.65px;
  line-height: 16px;
}
/* #back_to_top.opacityZero {
  cursor: initial;
} */
#back_to_top {
  background-color: rgba(51, 51, 51, 0.4);
  position: fixed;
  bottom: 14%;
  right: 24px;
  z-index: 150;
  margin: 0px;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  user-select: none;
}
#back_to_top i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
#menu-main-menu li {
  height: 60px;
}
#menu-main-menu li a {
  padding: 0px !important;
  color: #3b3b3b !important;
}
.logo-img {
  position: absolute;
  left: 9px;
  top: 9px;
  width: 42px;
}
.hover_color_bg {
  background-color: #a2d9f5;
}
.landing-content-btn {
  display: inline-block;
}
#Top_bar .menu_wrapper {
  float: initial !important;
  position: initial !important;
  right: 0px;
  height: 60px;
  z-index: 201;
}
#menu-main-menu a {
  height: 100%;
  display: flex;
  align-items: center;
}
.responsive-menu-toggle {
  background-color: gainsboro;
  display: none;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px;
  color: #3385d7;
}
#navOverlay {
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 80;
}
#Side_slide .menu_wrapper {
  background: whitesmoke;
  height: 100%;
}
#Side_slide {
  display: block;
  position: fixed;
  top: 60px;
  right: -280px;
  width: 250px;
  height: calc(100% - 56px - 60px);
  overflow: auto;
  z-index: 290;
}
.closeBtn {
  width: 60px;
  height: 100%;
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  color: #3385d7;
  opacity: 1;
}
#menu-main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about-title,
.intro-stats-wrapper h6,
#faq-box h6 {
  text-align: center;
}
.hover_color_bg {
  padding: 30px;
}
.hover_color_bg p {
  margin-bottom: 0px;
}

/* ************************* LANDING  ************************ */
#landing-page {
  height: calc(100% - 60px - 56px);
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
  overflow-x: hidden;
}
.landing-page-img {
  height: 100%;
  background-image: url("../content/dentist4/images/smile-img.jpg");
  background-repeat: no-repeat;
  /* background-position: bottom 0px right -75px; */
  background-position: calc(50% + 30px) 50%;
  background-size: cover;
}
.landing-page-content {
  /* background: url("../content/dentist4/images/dentist4-slider-bg.webp") center
    center / cover no-repeat; */
  /* background-color: #3043b8; */
  /* background-color: rgba(29, 39, 53, 0.8); */
  background-color: rgba(21, 37, 58, 0.8);
  /* background-color: rgba(36, 62, 98, 0.8); */
  padding: 24px 0px;
  /* position: relative;
  z-index: 1; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.landing-graphic-1 {
  position: absolute;
  right: -10px;
  bottom: 71px;
  width: 120px;
  transform: rotate(90deg);
  display: none;
}
.landing-graphic-2 {
  position: absolute;
  left: -3px;
  bottom: 7px;
  width: 118px;
  transform: rotate(134deg);
  z-index: -1;
  display: none;
}
.landing-welcome {
  color: #9cc0e3;
  letter-spacing: 0.4px;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 6px;
  padding-left: 20px;
  word-spacing: 1.2px;
  /* display: none; */
}
.landing-tagline {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  margin-left: 20px;
  font-size: 24px;
  /* text-align: center; */
}
.cta-btn {
  border-radius: 50px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #3385d7;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}
.landing-dock {
  z-index: 100;
  display: flex;
  position: sticky;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 8px;
  row-gap: 8px;
  column-gap: 8px;
  background-color: gainsboro;
  height: 56px;
}
.landing-dock-btn {
  /* background-color: rgba(190, 190, 190, 0.7); */
  background-color: white;
  color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 8px 0px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.landing-dock-btn i {
  font-size: 20px;
}
.contactBtnText {
  font-size: 15px;
}
.landing-info {
  margin-top: 20px;
  justify-content: center;
  column-gap: 20px;
  display: none;
}
.landing-btn {
  border-radius: 50px;
  width: 90px;
  height: 50px;
  /* background-color: gainsboro; */
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-contactBtnText {
  text-align: center;
  margin-top: 2px;
  font-size: 16px;
  color: #a9a9a9;
}
.landing-contactIcon {
  font-size: 20px;
}

/* *************************** ABOUT ************************** */
#content-box-1 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3043b8;
}
.intro-container {
  padding: 0px;
}
.stat-intro-text {
  color: #fff;
  margin-bottom: 32px;
  font-weight: bolder;
  text-align: left;
  font-size: 24px;
}
.stat-info-text {
  color: #fff;
  margin-bottom: 0px;
  font-size: 16px;
  padding-left: 2px;
  min-width: 128px;
  letter-spacing: 0.4px;
}
.main-about-text {
  color: #fff;
  line-height: 24px;
  word-spacing: 1px;
  letter-spacing: 0.4px;
  font-size: 16px;
}
.stat-year-num {
  margin-right: 1px;
}
.doctorName {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  letter-spacing: 0.4px;
  font-weight: initial;
  margin-left: 16px;
  color: whitesmoke;
}
.about-doc-wrapper {
  margin-bottom: 36px;
}
.main-stat-badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.stat-badge {
  position: relative;
  display: flex;
  align-items: center;
  /* flex-basis: 100%; */
  width: 100%;
  border: 2px solid gainsboro;
  border-radius: 10px;
  height: 54px;
  width: 253px;
}
.badge-text {
  color: #fff;
  text-align: left;
  font-size: 14px;
  min-width: 140px;
  margin-right: 18px;
}
.badge-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #feb300;
}
.badge-icon-1 {
  width: 20px;
}
.badge-icon-2 {
  width: 26px;
}
.badge-icon-3 {
  width: 22px;
}
.badge-check {
  width: 20px;
  height: 20px;
  border: 2px solid #a9a9a9;
  border-radius: 50%;
  position: relative;
}
.badge-check i {
  color: #36c20f;
  position: absolute;
  left: -3px;
  top: -11px;
  font-size: 28px;
}
.stat-patients-num {
  margin-right: 1px;
}
.smile-emoji {
  font-size: 44px;
}
.stat-container {
  display: flex;
  column-gap: 14px;
}
.stat-wrapper {
  padding-top: 1px;
}
.doctor-content {
  padding-top: 2px;
  margin-left: -15px;
}
.main-doc {
  display: flex;
  justify-content: space-between;
  max-width: 252px;
  margin: 0px auto 24px auto;
}
.doc-profile {
  background-image: linear-gradient(335deg, #ffffff 4%, #48c6eb 100%);
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid gainsboro;
  overflow: hidden;
  margin-right: -10px;
}
.doctorImg {
  position: absolute;
  width: 152px;
  top: -35px;
  left: -62px;
  z-index: 1;
}
.img-edit {
  position: absolute;
  right: -3px;
  top: 59px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #31425e;
}
.stat-year {
  color: #32b0e8;
}
.stat-number {
  margin-bottom: 0px;
  font-weight: bolder;
  color: #32b0e8;
}
.about-wrapper {
  margin-bottom: 40px;
}
.stat-numb-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  row-gap: 36px;
  padding: 0px;
}
.doctorTitle {
  font-size: 22px;
  letter-spacing: 0.8px;
  font-family: "Pacifico", cursive;
  color: #dddddd;
}

/* ************************** SERVICES ************************* */
#services-box {
  padding: 50px 0px;
  background: whitesmoke;
}
#service-box-1.open-content {
  height: 380px;
}
#service-box-2.open-content {
  height: 330px;
}
#service-box-3.open-content {
  height: 240px;
}
#service-box-4.open-content {
  height: 310px;
}
#service-box-5.open-content {
  height: 310px;
}
#service-box-6.open-content {
  height: 220px;
}
.open-content .services-text {
  opacity: 1;
}
.open-content .service-arrow {
  transform: rotate(45deg);
}
.services-title {
  color: #3043b8;
  max-width: 220px;
  margin: 0 auto;
}
.service-arrow {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  /* background: gainsboro; */
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.service-icon {
  color: #1f2e88;
}
.services-intro {
  margin-bottom: 26px;
}
.services-text {
  color: #000;
  opacity: 0;
  position: absolute;
  top: 54px;
  background: #aae2ff;
  padding-top: 12px;
  padding-right: 18px;
  padding-left: 18px;
  transition: all 1s;
}
.service-box {
  border-radius: 6px;
  background-color: #aae2ff;
  box-shadow: 2px 44px 32px 2px rgba(0, 0, 0, 0.02);
  /* padding: 26px 26px 26px 26px; */
  /* padding-top: 18px;
  padding-left: 26px; */
  overflow: hidden;
  height: 54px;
  position: relative;
  transition: all 0.5s;
}
.service-content {
  background-color: #a2d9f5;
  height: 54px;
  display: flex;
  align-items: center;
  position: relative;
}
.intro-content-cards {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 30px;
  margin-bottom: 46px;
}
.service-card-title {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  margin-bottom: 0px;
  line-height: 19px;
  padding-left: 18px;
  color: #1f2e88;
}
.routine-intro {
  margin-bottom: 4px;
}
.service-text-bp {
  padding-left: 24px;
  margin-bottom: 6px;
  position: relative;
}
.service-text-bp:last-child {
  margin-bottom: 0px;
}
.bullet-point {
  position: absolute;
  left: 6px;
  top: -22px;
  font-size: 50px;
}
.treatmentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(to bottom, #00c2d7 0%, #368cbc 100%);
  border: none;
  outline: none;
  border-radius: 30px;
  width: 98px;
  height: 46px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  column-gap: 8px;
}
.treatmentBtnMessage {
  text-align: left;
  min-width: 160px;
  letter-spacing: 0.3px;
  font-size: 18px;
  color: #1c1c1c;
}
.freeWord {
  color: #00cd00;
  font-weight: bold;
  font-style: italic;
}
.treatmentBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-left: -10px;
  margin-right: -10px;
}
.treatment-or {
  padding-bottom: 3px;
}
.dm-text {
  margin-bottom: 2px;
}
.treatmentCallIcon {
  color: whitesmoke;
  font-size: 20px;
}
.treatmentBtnText {
  color: whitesmoke;
  min-width: 35px;
}
.treatment-space {
  display: flex;
  align-items: center;
  height: 40px;
  column-gap: 10px;
  max-width: 190px;
  margin: 0px auto;
}
.treatment-solid {
  height: 2px;
  background-color: gainsboro;
  width: 100%;
}

/* ************************** REVIEWS ************************* */
.reviews-overlay {
  position: absolute;
  background: rgba(26, 26, 26, 0.65);
  /* background: rgba(80, 80, 80, 0.65); */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.reviews {
  position: relative;
  background-image: url("../content/dentist4/images/test.jpg");
  background-repeat: no-repeat;
  /* background-position: bottom 0px right -75px; */
  background-position: center;
  background-size: cover;
}
.reviewTitle {
  position: absolute;
  top: 46px;
  color: whitesmoke;
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: initial;
  z-index: 1;
}
#reviewSlider {
  height: 480px;
  margin-bottom: 0;
  z-index: 1;
}
.reviewQuote {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.reviewSlideText {
  font-size: 18px;
  margin: 30px 20px 26px 34px;
  line-height: 28px;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  font-style: italic;
}
.reviewName {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.4px;
}
.quoteIcon {
  position: absolute;
  font-size: 60px;
  color: white;
  opacity: 0.15;
  z-index: 1;
}
.leftQuoteIcon {
  left: 14px;
  top: 100px;
}
.rightQuoteIcon {
  right: 14px;
  top: 310px;
}
.slick-list,
.slick-track,
.reviewSlide {
  height: 100%;
  outline: none;
}
.slick-dots {
  bottom: 0;
  height: 64px;
}
.slick-dots li button:before {
  font-size: 12px;
  opacity: 0.2;
  color: #dcdcdc;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots.touch-device li button:hover::before,
.slick-dots.touch-device li button:focus::before {
  opacity: 0.25;
}
.slick-dots.touch-device li.slick-active button::before {
  opacity: 1;
}

/* *************************** FAQ *************************** */
#faq-box {
  padding: 50px 0px;
  background-color: #efefef;
}
#faq-box h6 {
  margin-bottom: 40px;
}
.faq-question {
  position: relative;
}
.faq-number {
  position: absolute;
  left: -16px;
  top: 0px;
}
.faq-question {
  color: #1f2e88;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 8px;
}
.faq-answer {
  padding-left: 10px;
  margin-bottom: 34px;
}
.faq-answer:last-child {
  margin-bottom: 0px;
}

/* ************************* CONTACT ************************* */
#contact-box {
  background-color: #3043b8;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}
.officeInfoGrid {
  display: grid;
  position: relative;
  row-gap: 2px;
  column-gap: 12px;
  grid-template-columns: repeat(2, auto);
}
#officeScheduleIcon {
  left: -37px;
}
#officeAddressIcon {
  left: -15px;
}
#officePhoneIcon {
  left: -18px;
}
.officeDay {
  color: white;
  text-align: left;
  letter-spacing: 0.9px;
}
.officeTime {
  text-align: center;
  color: #b3b3b3;
  letter-spacing: 0.3px;
}
.officeMap {
  padding: 0px 50px;
  margin-top: 24px;
}
.mapWrapper {
  margin: 0px auto;
  max-width: 310px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
#googleMap {
  margin: 0px auto;
  display: block;
  height: 200px;
  width: 100%;
}
.officeInfoSchedule {
  display: flex;
  justify-content: center;
  position: relative;
}
.officeInfoText {
  position: relative;
  text-align: left;
  letter-spacing: 0.6px;
  color: white;
  width: 250px;
  margin: 0 auto;
  padding-left: 19px;
}
.officeInfoIcon {
  position: absolute;
  font-size: 20px;
  color: #37d0e1;
  top: 2px;
}
/* .officeInfoPhone {
  margin: 50px 0;
  line-height: 21px;
  padding-left: 23px;
} */
.officePhoneText {
  color: #b3b3b3;
  padding-left: 8px;
}
.contact-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: 18px;
}
.contact-title {
  margin-bottom: 40px;
  color: whitesmoke;
}
.address-suite {
  font-size: 14px;
}

/* *************************** FORM *************************** */
#form-box {
  background-color: #1e2867;
  padding-top: 40px;
  padding-bottom: 80px;
}
.contact-us-desc {
  color: whitesmoke;
  text-align: left;
  margin-bottom: 40px;
}
.formOption {
  margin-bottom: 20px;
}
.formAsterik {
  color: #d12323;
  margin-left: 4px;
}
.contactFormText {
  color: whitesmoke;
  margin-bottom: 6px;
  letter-spacing: 0.2px;
}
.fullNameField,
.emailField,
.phoneField {
  width: 100%;
  position: relative;
}
.contactFormInput {
  height: 54px;
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.7px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 44px;
  border-radius: 10px !important;
  border: 2px solid #e8e8e8;
  background: none !important;
}
.contactFormInput:focus {
  border: 2px solid #067ffc;
  outline: none;
  background-color: none;
}
input.contactFormInput:valid {
  background-image: url("../content/dentist4/images/validCheckIcon.svg") !important;
  background-size: 26px !important;
  background-repeat: no-repeat !important;
  background-position: right 11px center !important;
  border: 2px solid #199940;
}
input.contactFormInput:valid + .formIcon {
  opacity: 0;
}
.contactFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a9b5ff;
  opacity: 1; /* Firefox */
}
.contactFormInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a9b5ff;
}
.contactFormInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a9b5ff;
}
.formIcon {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 22px;
  color: #a9b5ff;
}
#fullNameIcon {
  right: 16px;
}
.formMessage {
  margin-bottom: 22px;
}
#messageInput {
  padding: 8px 8px 0px 12px;
  height: 170px;
}
.submit-btn {
  margin: 0px auto;
  display: block;
  padding: 0px !important;
  width: 200px;
  height: 50px;
}

@media only screen and (min-width: 375px) {
  .badge-text {
    font-size: 16px;
    min-width: 160px;
  }
  .stat-badge {
    width: 270px;
  }
}
/* @media only screen and (min-width: 540px) {
  .about-wrapper {
    display: flex;
    column-gap: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .about-wrapper-child {
    flex-basis: 100%;
  }
  .about-doc-wrapper {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .main-doc {
    flex-direction: column;
    margin: 0px;
    row-gap: 18px;
  }
  .doc-profile {
    margin-left: 14px;
    margin-right: 0px;
  }
} */
@media only screen and (min-width: 667px) {
  .office-container {
    display: flex;
    justify-content: center;
    padding-left: 100px;
  }
  .officeMap {
    margin-top: 0px;
  }
  #googleMap {
    height: 260px;
  }
}
@media only screen and (min-width: 768px) {
  .intro-content-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  #Footer {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 777px) {
  #landing-page {
    flex-direction: row;
  }
  .landing-page-img {
    width: 50%;
    background-position: calc(50% + 110px) 50%;
  }
  .landing-page-content {
    width: 50%;
    position: initial;
    padding-top: 140px;
  }
  .landing-tagline {
    margin-bottom: 44px;
  }
  .landing-dock {
    display: none;
  }
  .landing-info {
    display: flex;
  }
}
@media only screen and (min-width: 1239px) {
  #menu-main-menu {
    flex-direction: row;
  }
  #Top_bar .menu_wrapper {
    position: absolute !important;
  }
  /* #menu-main-menu a span {
    color: #3b3b3b;
    margin-left: 0px;
  } */
  .intro-content-cards {
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (max-width: 1000px) {
  #menu-main-menu {
    display: flex;
    flex-direction: column;
  }
  #menu-main-menu a span {
    margin-left: 20px;
    color: #808080;
    letter-spacing: 0.2px;
    word-spacing: 0.5px;
  }
}
