@keyframes carousel-item {
  0% {
    transform: translateX(0px);
  }

  5% {
    left: 0px;
  }

  100% {
    transform: translateX(-9999px);
    // left: -200%;
  }
}

.landing-skills-content {
  position: relative;

  .swiper-skill-img-wrapper {
    position: relative;
  }

  &.animated {
    .swiper-skill-img-wrapper {
      animation: carousel-item 200s linear infinite;
    }
  }

  &.paused {
    .swiper-skill-img-wrapper {
      animation-play-state: paused;
    }
  }
}

.landing-skills-content:hover .swiper-skill-img-wrapper {
  animation-play-state: paused;
}
