@media only screen and (min-width: 1024px) {
  .openNavBtn {
    display: none;
  }
  .desktopNav {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
  }
  .desktopNavLink {
    width: 100px;
  }
}
