@media screen and (min-width: 375px), print {
  .saveBtns {
    top: 20px;
    right: 20px;
    bottom: initial;
    left: initial;
    margin-left: initial;
    display: initial;
    // flex-direction: column-reverse;
  }
  .saveBtn:first-child {
    margin-bottom: 10px;
    margin-right: initial;
  }
  .wrapper {
    padding: 20px 22px 20px 22px;
  }
}
@media screen and (min-width: 540px), print {
  .contact {
    display: flex;
  }
  .contactSection:last-child {
    margin-left: 26px;
  }
  .wrapper {
    padding: 40px 42px 30px 42px;
  }
  .projectBox {
    margin-right: 30px;
  }
}
@media screen and (min-width: 650px), print {
  .projects {
    display: flex;
    margin-bottom: 10px;
  }
  .projectBox {
    margin-right: initial;
    width: 50%;
  }
  .projectBox:first-child {
    margin-right: 30px;
  }
  .saveBtns {
    top: 30px;
    right: 30px;
  }
}
@media screen and (min-width: 1190px), print {
  .saveBtns {
    position: fixed;
    right: 50%;
    margin-right: -496px;
  }
  .iconToolTip {
    display: initial;
  }
}

@media only print {
  .saveBtns {
    display: none;
  }
}

@media only screen and (hover: hover) {
  .contactText:hover,
  .projectLink:hover {
    text-decoration: underline;
    color: #af4cce;
  }
  .projectImgLink:hover .projectHover {
    opacity: 1;
    // border: 4px solid blue;
  }
  .saveBtn:hover {
    background-color: gainsboro;
  }
  .saveBtn:hover .iconToolTip {
    opacity: 1;
    visibility: initial;
  }
}
