$nav-height: 60px;
$font-one: "Changa", sans-serif;
// $font-one: "REM", sans-serif;

* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  background-color: lightgrey;
  padding-top: $nav-height;
  color: #1f1f1f;
  font-family: "Kanit", sans-serif;
}
nav {
  height: $nav-height;
  background-color: #eaeaea;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid #cfcfcf;
}
.nav-logo {
  display: flex;
}
.nav-company-image {
  width: 40px;
  border-radius: 50%;
  margin: 10px 4px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #63a062;
}
.nav-company-main-name {
  font-family: $font-one;
  font-size: 20px;
  line-height: 18px;
}
.nav-company-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1px;
}
.nav-company-sub-name {
  font-size: 14px;
  padding-left: 1px;
}
.nav-menu-btn {
  width: $nav-height;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #969696;
}
.main-title {
  margin: 20px 0px 0px 20px;
  font-size: 26px;
  font-weight: initial;
  font-family: $font-one;
}
.stock-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.stock-list-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.stock-entry {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  border-top: 1px solid #b5b5b5;
}
// .stock-entry + .stock-entry {
//   border-top: 1px solid #b5b5b5;
// }
.stock-name {
  display: flex;
  flex-direction: column;
}
// .stock-symbol {
//   font-family: "Kanit", sans-serif;
// }
.stock-name-text {
  font-size: 14px;
  color: #7a7a7a;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}
.stock-price,
.stock-list-header-price {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.stock-list-header-price span {
  color: #7a7a7a;
  font-size: 14px;
}
.stock-list-header-percent {
  min-width: 80px;
}
.percent-change {
  border-radius: 4px;
  padding: 4px 8px;
  min-width: 80px;
  text-align: center;
}
.negative {
  background-color: rgba(221, 0, 0, 0.5);
}
.positive {
  background-color: rgba(16, 143, 15, 0.5);
}
