$nav-height: 60px;
$font-one: "Changa", sans-serif;

* {
    /* Remove Gray Highlight When Tapping Links in Mobile Safari */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
.display-hidden {
    display: none !important;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #e0e0e0;
    padding-top: $nav-height;
    margin-bottom: $nav-height;
    color: #1f1f1f;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}
header {
    height: $nav-height;
    background-color: #eaeaea;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 21;
    border-bottom: 2px solid #dadada;
    user-select: none;
}
.nav-logo {
    display: flex;
}
.nav-company-image {
    width: 40px;
    border-radius: 50%;
    margin: 10px 4px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #63a062;
}
.nav-company-main-name {
    font-family: $font-one;
    font-size: 20px;
    line-height: 18px;
}
.nav-company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1px;
}
.nav-company-sub-name {
    font-size: 14px;
    padding-left: 1px;
    word-spacing: 1px;
    letter-spacing: 0.2px;
}
.nav-menu-btn {
    width: $nav-height;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-dock {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    height: $nav-height;
    display: flex;
    background-color: lightgrey;
    border-top: 2px solid #dadada;
    flex-direction: row-reverse;
    padding: 8px;
}
.main-dock-btn {
    font-family: $font-one;
    background-color: transparent;
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: 2px solid lightgrey;
    color: #a7a7a7;
    border-radius: 40px;
    transition: all 0.5s;
    user-select: none;
}
.main-dock-btn i {
    font-size: 22px;
}
.dock-btn-selected {
    color: #489447;
    background-color: #ffffff;
    border-color: #e9e9e9;
}
#main-content {
    padding-top: 22px;
}
.main-title {
    margin: 0px 0px 22px 20px;
    font-size: 26px;
    font-weight: initial;
    font-family: $font-one;
}
.crypto-options {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.crypto-tabs {
    background: #d1d1d1;
    border: 2px solid #d1d1d1;
    display: flex;
    border-radius: 40px;
    margin: 0px 20px;
    column-gap: 2px;
    overflow: hidden;
    display: none;
}
.crypto-tab {
    flex-grow: 1;
    flex-basis: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 14px;
    border-radius: 40px;
}
.selected-crypto-tab {
    background: #eaeaea;
}
.crypto-controls {
    display: flex;
    padding: 0px 20px;
    column-gap: 14px;
    // justify-content: space-between;
}
.crypto-control-btn {
    background: #d1d1d1;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    height: 42px;
    column-gap: 8px;
    // font-size: 14px;
    user-select: none;
}
#crypto-quantity-select {
    min-width: 124px;
}
#crypto-timeframe-select {
    min-width: 106px;
}
.crypto-control-arrow {
    padding-top: 2px;
    color: #9b9b9b;
}
.search-crypto-btn {
    background: #d1d1d1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-left: auto;
    color: #9b9b9b;
    flex-shrink: 0;
}
.crypto-table-wrapper {
    padding: 16px 20px 20px 20px;
}
.crypto-list {
    // **** qwe change to 14px for 320px width screen***
    font-size: 14px;
    width: 100%;
    // border-collapse: collapse;
    border-spacing: 0px;
    user-select: none;
}
.crypto-list th,
.crypto-list td {
    border-bottom: 1px solid #cacaca;
}
.crypto-mcap {
    text-align: right;
    // letter-spacing: 0.4px;
}
.stock-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
}
.crypto-list-header {
    position: sticky;
    top: $nav-height + 41px;
    background-color: #e0e0e0;
    z-index: 20;
    font-size: 14px;
}
.crypto-list-header th {
    height: 42px;
    font-weight: initial;
    text-align: left;
}
.stock-list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
// .crypto-list-header-percent {
//     text-align: center;
// }
th.crypto-list-header-mcap {
    text-align: right;
}
.crypto-entry {
    height: 60px;
    // border-bottom: 1px solid #cacaca;
}
.stock-entry {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #cacaca;
}
.crypto-entry-pair {
    display: flex;
}
.crypto-number {
    color: #7a7a7a;
    padding-right: 6px;
    // font-size: 14px;
}
.crypto-list-header-number {
    color: #7a7a7a;
}
.crypto-name-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.crypto-logo {
    // background-color: orange;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}
.crypto-logo img {
    max-width: 100%;
    pointer-events: none;
    user-select: none;
}
.crypto-name,
.stock-name {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.crypto-symbol {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70px;
}
.crypto-name-text {
    color: #7a7a7a;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    // max-width: 100px;
    letter-spacing: 0.4px;
}
.collapse-zeroes {
    display: inline-block;
    max-width: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    margin-right: -2px;
}
.stock-name-text {
    font-size: 14px;
    color: #7a7a7a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    letter-spacing: 0.2px;
}
.stock-price,
.stock-list-header-price {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.currency-header-label {
    color: #7a7a7a;
}
.stock-list-header-price span {
    color: #7a7a7a;
    font-size: 14px;
}
.crypto-header-content {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.crypto-list-header-mcap .crypto-header-content {
    justify-content: flex-end;
}
.asc .fa-sort-up,
.desc .fa-sort-down {
    color: #939393;
}
.sort-arrow {
    color: #c8c8c8;
    display: inline-flex;
    flex-direction: column;
}
.sort-arrow i {
    line-height: initial;
    display: block;
    height: 8px;
}
.sort-arrow i.fa-sort-down {
    position: relative;
}
.sort-arrow i.fa-sort-down::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
// .crypto-list-header-percent,
// .stock-list-header-percent {
//     width: 70px;
// }
.crypto-entry-perc {
    // text-align: center;
    // padding: 4px;
    // margin: 0px auto;
    // min-width: 54px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    border-radius: 4px;
    // letter-spacing: 0.4px;
}
.crypto-entry-perc i {
    // padding-right: 4px;
    font-size: 14px;
}
#stocks .percent-change {
    border-radius: 4px;
    padding: 4px;
    min-width: 70px;
    text-align: center;
}
// .crypto-entry-perc::first-letter {
//     margin-right: 2px;
// }
.negative-entry {
    // background-color: rgba(221, 0, 0, 0.2);
    color: #d46666;
}
.negative-entry i {
    transform: scale(1, -1);
    padding-top: 1px;
}
.positive-entry {
    // background-color: rgba(16, 143, 15, 0.2);
    color: #489447;
}
.positive-entry i {
    padding-top: 2px;
}
footer {
    background-color: #e7e7ff;
    padding: 24px 20px 30px 20px;
    margin-bottom: $nav-height;
}
.footer-credits {
    margin-bottom: 20px;
    word-spacing: 1px;
    line-height: 24px;
}
.footer-credits span {
    white-space: nowrap;
}
.footer-contacts {
    display: flex;
    column-gap: 8px;
}
.footer-contact-btn {
    background-color: #7f7ff9;
    color: whitesmoke;
    border-radius: 30px;
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    height: 30px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s;
}
.footer-contact-btn i {
    font-size: 16px;
}
.nav-menu-btn-text {
    display: none;
}
.settings-window {
    position: fixed;
    bottom: -100%;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: lightgrey;
    height: calc(100% - #{$nav-height});
    width: 100%;
    transition: all 0.2s;
    border-top: 2px solid #dadada;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    user-select: none;
}
.showSettings .settings-window {
    bottom: 0px;
}
.settings-close-btn {
    border: 2px solid #c7c5c5;
    border: none;
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #cacaca;
    border: 2px solid #c4c4c4;
    color: #4f4f4f;
    flex-shrink: 0;
}
.showSettings i.settings-nav-btn-icon {
    display: none;
}
i.close-nav-btn-icon {
    display: none;
}
.showSettings i.close-nav-btn-icon {
    display: initial;
}
.drag-to-close {
    height: 40px;
}
.drag-bar {
    width: 40px;
    height: 6px;
    border-radius: 20px;
    margin: 4px auto 0px auto;
    background: #b8b7b7;
}
.settings-account-btns {
    display: flex;
    column-gap: 10px;
    margin-bottom: 30px;
}
.settings-account-btns button {
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #cacaca;
    flex-grow: 1;
    flex-basis: 100%;
    border: 2px solid #c4c4c4;
    color: #4f4f4f;
}
.settings-window-section {
    background-color: #cacaca;
    min-height: 120px;
    border-radius: 20px;
    font-size: 14px;
    color: #4f4f4f;
}
.settings-window-row {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    justify-content: space-between;
}
.settings-window-row + .settings-window-row {
    border-top: 1px solid lightgrey;
}
.settings-row-title {
    word-spacing: 0.4px;
}
.settings-row-content {
    display: flex;
    column-gap: 20px;
}
.settings-row-value {
    color: gray;
}
.settings-row-arrow {
    padding-top: 1px;
}
.settings-pref-markets {
    display: flex;
    font-size: 14px;
    background: #b6b6b6;
    border-radius: 50px;
}
.pref-market-opt {
    border-radius: 50px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5e5e5e;
}
.selected-pref-market {
    background-color: #75ad74 !important;
    color: whitesmoke !important;
}
.pref-market-detail-text {
    font-size: 14px;
    padding: 6px 15px 0px 15px;
    color: #7a7a7a;
    word-spacing: 1px;
    line-height: 18px;
}
.main-stats-wrapper {
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    height: 42px;
    border: 2px solid #dadada;
    font-size: 14px;
    position: sticky;
    top: $nav-height - 1;
    z-index: 20;
    transition: margin 0.3s;
    user-select: none;
}
.sticking {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    border-top: none;
}
// .sticking .main-crypto-stats .carousel {
//     border-radius: 0px;
// }
.sticking .crypto-pause-btn {
    width: 60px;
}
.main-crypto-stats .carousel {
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: hidden;
    padding: 0px 10px;
    background: #eaeaea;
    z-index: 20;
    // border-radius: 50px 0px 0px 50px;
}
.global-crypto-label {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    border-right: 2px solid #dadada;
    padding: 0px 10px;
}
.crypto-pause-btn {
    flex-shrink: 0;
    width: 42px;
    border: none;
    color: #a7a7a7;
    background-color: #eaeaea;
    padding-top: 2px;
    transition: width 0.3s;
    border-left: 2px solid #dadada;
}
.is-paused .pause-icon,
i.play-icon {
    display: none;
}
.is-paused .play-icon {
    display: initial;
}
.crypto-stat-group {
    display: flex;
    column-gap: 10px;
    flex-shrink: 0;
}
// .crypto-stat-label {
//     flex-shrink: 0;
// }
.crypto-stat-result {
    display: flex;
    flex-grow: 1;
    column-gap: 10px;
}
.crypto-stat-value {
    color: #7a7a7a;
}
.crypto-dom-val {
    color: #7a7a7a;
    display: flex;
    column-gap: 4px;
}
.crypto-dom-val span {
    color: #57b555;
}
.crypto-stat-perc {
    display: flex;
    column-gap: 4px;
}
.crypto-stat-perc i {
    padding-top: 2px;
}
.global-positive {
    color: #57b555;
}
.global-negative {
    color: #d46666;
}
.global-negative i {
    transform: scale(1, -1);
}
#back-to-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: $nav-height + 40px;
    right: 20px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: none;
    background-color: rgba(51, 51, 51, 0.4);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    z-index: 9;
    font-size: 20px;
    user-select: none;
    opacity: 1;
    visibility: initial;
    transition: opacity 1s;
    text-decoration: none;
    padding-top: 2px;
}
.opacity-zero {
    opacity: 0 !important;
    visibility: hidden !important;
}
.overlay-hidden {
    background-color: rgba(0, 0, 0, 0) !important;
    pointer-events: none;
}
.select-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    transition: all 0.4s;
}
.overlay-hidden .select-content {
    margin-bottom: -400px;
}
.select-content {
    margin-bottom: 0px;
    transition: all 0.2s;
}
.select-content {
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.select-title {
    text-align: center;
    padding: 20px 0px;
    color: #7a7a7a;
    word-spacing: 1px;
    font-size: 18px;
}
.select-close-btn {
    border: 2px solid #c4c4c4;
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #d1d1d1;
    // color: #7a7a7a;
    color: #4f4f4f;
}
.select-options {
    margin-bottom: 20px;
}
.select-opt {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-opt + .select-opt {
    border-top: 1px solid lightgrey;
}
.select-opt-text {
    padding-left: 2px;
    word-spacing: 1px;
}
.select-opt i {
    color: #489447;
    font-size: 18px;
    opacity: 0;
    padding-right: 2px;
}
.selected-opt {
    color: #489447;
}
.selected-opt i {
    opacity: 1;
}
// .skeleton-row {
//     height: 60px;
// }
// .skeleton-row-rank {
//     height: 20px;
//     background: #cfcfcf;
//     // width: 26px;
//     margin-right: 8px;
//     border-radius: 6px;
// }
// .skeleton-row-logo {
//     width: 34px;
//     height: 34px;
//     border-radius: 50%;
//     background: #cfcfcf;
// }
// .skeleton-row-price-wrapper {
//     display: flex;
//     column-gap: 8px;
// }
// .skeleton-row-info {
//     display: flex;
//     flex-direction: column;
//     row-gap: 4px;
// }
// .skeleton-row-name {
//     height: 16px;
//     background: #cfcfcf;
//     width: 44px;
//     border-radius: 6px;
// }
// .skeleton-row-price {
//     height: 16px;
//     background: #cfcfcf;
//     width: 88px;
//     border-radius: 6px;
// }
// .skeleton-row-mcap {
//     height: 16px;
//     background: #cfcfcf;
//     width: 70px;
//     border-radius: 6px;
//     margin-left: auto;
// }
// .skeleton-row-perc-change {
//     height: 16px;
//     background: #cfcfcf;
//     width: 60px;
//     border-radius: 6px;
// }

// padding-top: calc(#{$header-height} + #{$project-window-title-height});

// @media only screen and (min-width: 740px) {}
// hover styles
// @media only screen and (hover: hover) {}
