* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #7676e3;
  height: 64px;
  z-index: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.menu-icon {
  font-size: 24px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.menu-icon-btn {
  border: none;
  background: none;
  padding: 0;
  height: 100%;
  width: 64px;
  color: whitesmoke;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-icon-btn:hover {
  color: #addcff;
}

.toggle-nav-tooltip {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-color: rgba(176, 176, 176, 0.5); */
  background-color: #9da1e7;
  color: whitesmoke;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  letter-spacing: 0.5px;
  visibility: hidden;
  font-size: 14px;
  width: 92px;
  height: 36px;
  position: absolute;
  left: 70px;
  top: 13px;
  pointer-events: none;
}

.toggle-nav-tooltip::after {
  content: "";
  position: absolute;
  left: -18px;
  border-width: 10px;
  border-style: solid;
  border-color: #9da1e7 transparent transparent transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-icon-btn:hover .toggle-nav-tooltip {
  opacity: 1;
  visibility: initial;
}

.sidebar {
  font-family: "Roboto", sans-serif;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  padding-top: 18px;
  width: 72px;
  border-right: 1px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  background-color: whitesmoke;
  height: 100%;
}

.hidden-sidebar {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  font-size: 16px;
  line-height: 18px;
}

.sidebar.open .hidden-sidebar {
  opacity: 1;
  width: 100%;
  height: auto;
}

.top-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
}

.sidebar.open .top-sidebar {
  height: 176px;
  margin-bottom: 2px;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 18px;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
}

.bottom-sidebar {
  width: 100%;
}

.sidebar.open .channel-logo {
  width: 118px;
  height: 118px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.channel-logo {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.channel-logo img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  color: gray;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar-list-item.active {
  color: #7676e3;
  background-color: #e7e7ed;
}

.sidebar-list-item.active::before {
  content: "";
  background-color: #7676e3;
  height: 100%;
  position: absolute;
  width: 4px;
  left: 0;
  cursor: pointer;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 18px;
  padding-top: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
  margin-left: 22px;
  white-space: nowrap;
}

.top-sidebar .hidden-sidebar {
  text-align: center;
  width: 100%;
}

.sidebar-link {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 54px;
  padding-left: 24px;
}

.sidebar.open {
  width: 260px;
}

#channel-name {
  font-weight: bold;
  color: #212121;
  margin-bottom: 4px;
  font-size: 20px;
  padding-left: 1px;
  word-spacing: 1px;
  line-height: 23px;
}

#channel-bio {
  color: gray;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e7e7ff;
}

.landing-intro-title {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  height: 100px;
}

.intro-title-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-text {
  color: #252525;
  font-size: 24px;
  font-weight: bold;
}

.landing-intro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  border-radius: 20px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: calc(100% - 100px - 60px);
}

.grid-item {
  overflow: hidden;
  border-radius: 10px;
  background-color: #eaeafd;
  border: 2px solid #bebbbb;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#landing-projects-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  height: 100%;
}

.landing-grid-title {
  background-color: #e1e1fb;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px;
  color: #393838;
  font-size: 18px;
  font-weight: bold;
  word-spacing: 0.8px;
}

.landing-projects {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.landing-skills {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  height: 220px;
}

.landing-exp {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.landing-edu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.landing-contact {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.landing-contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  border-radius: 10px;
  border: none;
  border: 2px solid #bebbbb;
  background: #f3f3f3;
  max-width: 210px;
  padding: 0px 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  font-size: 16px;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.contact-btn-text {
  min-width: 90px;
  word-spacing: 0.8px;
}

.grid-item-content {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  max-height: calc(100% - 52px);
  background: #eaeafd;
}

.grid-item-box {
  border-radius: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: auto;
  padding: 14px 14px 8px 14px;
}

.landing-projects .grid-item-box {
  height: 200px;
  background-color: #d7d7d7;
  padding: 0px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.landing-content-years {
  margin-bottom: 8px;
  font-style: italic;
}

.landing-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  padding-left: 4px;
  margin-bottom: 6px;
  line-height: 20px;
}

.landing-project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-content-title {
  margin-bottom: 2px;
  font-weight: bold;
  color: #393838;
}

.landing-project-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 10px;
  border: 2px solid #d7d7d7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#landing-braces-img {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(188, 188, 188, 0.2)), color-stop(80%, rgba(55, 55, 132, 0.99))), url("./orthoImg.png");
  background-image: linear-gradient(to top, rgba(188, 188, 188, 0.2), rgba(55, 55, 132, 0.99) 80%), url("./orthoImg.png");
}

#landing-portfolio-img {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(188, 188, 188, 0.2)), color-stop(80%, rgba(55, 55, 132, 0.99))), url("./portfolioImg.png");
  background-image: linear-gradient(to top, rgba(188, 188, 188, 0.2), rgba(55, 55, 132, 0.99) 80%), url("./portfolioImg.png");
}

.landing-project-title {
  position: absolute;
  top: 14px;
  left: 16px;
  color: #f0f0f0;
}

.tab-content {
  position: absolute;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.tab-content.open {
  position: initial;
  opacity: 1;
  width: auto;
  visibility: visible;
}

#overview {
  padding: 40px;
  height: calc(100% - 64px);
}

#projects {
  padding: 40px;
}

#projects .title-text {
  margin-bottom: 40px;
}

.projects-content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.project-item {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d7d7d7;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.project-preview {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#osc-project .project-preview {
  background-image: url("./orthoImg.png");
}

#portfolio-project .project-preview {
  background-image: url("./portfolioImg.png");
}

.project-item:hover .project-preview {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#osc-project .preview-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  visibility: visible;
}

#osc-project:hover .preview-logo {
  opacity: 0;
  visibility: hidden;
}

#osc-project .preview-logo img {
  width: 48px;
}

.preview-logo-name {
  color: white;
}

.osc-name-1 {
  font-family: "Russo One", sans-serif;
  font-size: 28px;
}

.osc-name-2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  letter-spacing: 0.24px;
  word-spacing: 2px;
}

.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

.preview-logo-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

#osc-project .preview-overlay {
  background-color: rgba(27, 42, 97, 0.9);
}

.project-title {
  font-size: 22px;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.project-point-text {
  font-size: 16px;
  line-height: 20px;
}

.project-details {
  background-color: whitesmoke;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
}

.project-preview-info {
  color: white;
  padding: 0px 40px;
  font-size: 18px;
  line-height: 26px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  word-spacing: 1.2px;
}

.project-item:hover .project-preview-info {
  visibility: visible;
  opacity: 1;
}

.more-info-btn {
  position: absolute;
  bottom: 88px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 46px;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #303968;
  border: 2px solid gainsboro;
  color: whitesmoke;
}

.more-info-btn:hover {
  background-color: #7676e3;
}

.project-item:hover .more-info-btn {
  visibility: visible;
  opacity: 1;
}

.project-btns {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3px;
          column-gap: 3px;
  background: #ededed;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -56px;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.project-item:hover .project-btns {
  visibility: visible;
  bottom: 0px;
}

.project-btn {
  background-color: white;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  color: #7676e3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.project-btn i {
  font-size: 24px;
}

.github-icon {
  font-size: 26px !important;
}

.project-btn-text {
  font-size: 18px;
}

.project-points-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.project-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.project-point-title {
  min-width: 70px;
  font-weight: bold;
}

#skills {
  height: 500px;
  background-color: orange;
}

#work {
  height: 500px;
  background-color: pink;
}

#edu {
  height: 500px;
  background-color: yellow;
}

#resume {
  height: 500px;
  background-color: green;
}

#contact {
  height: 500px;
  background-color: purple;
}

.sidebar-list-item:hover {
  background-color: #e7e7ed;
}

.grid-item:hover {
  border-color: #9292f8;
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  cursor: pointer;
}

.landing-contact-btn:hover {
  border-color: #9292f8;
}

.landing-projects .grid-item-box:hover {
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
}

.landing-projects .grid-item-box:hover .landing-project-img {
  border-color: #9292f8;
}

.project-btn:hover {
  background-color: #ededed;
}

.project-item:hover {
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
}
/*# sourceMappingURL=style.css.map */