// @mixin flexCenterXY {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

$mobileNav: 80px;
$startDelay: 0.4s;
$scaleInDuration: 1s;
$slideUpDuration: 1s;
$textDelay: $scaleInDuration + $slideUpDuration + $startDelay - 1s;

* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
  outline: none;
}
.displayHidden {
  display: none !important;
}
.unselectable {
  user-select: none;
}
.opacityZero {
  opacity: 0 !important;
}
.openNavLogoBar {
  top: 0px !important;
}
.openNavMenu {
  bottom: 0vh !important;
}
html {
  background-color: darkgray;
}

.landing {
  background-color: darkgray;
  height: 100vh;
  width: 100%;
  position: fixed;
  margin-left: -105vw;
}
.landingLogoImg {
  display: block;
  width: 160px;
  margin: 12px auto 12px auto;
}
.introBox {
  position: relative;
  width: 280px;
  margin: 0 auto 14px auto;
  font-family: "Tomorrow", sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  // line-height: 36px;
  line-height: 26px;
}
.period {
  font-family: "Tomorrow", sans-serif;
}
.myNameValue {
  color: orange;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  margin-left: 3px;
}
.jobTitleKey {
  font-family: "Tomorrow", sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 1.3px;
}
.jobTitleValue {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.2px;
  font-size: 20px;
}

.wordSpace {
  word-spacing: 2px;
}
.landingSocialMedia {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  // bottom: 30px;
  top: 368px;
}
.navLogoBar {
  background-color: lightgray;
  width: 100%;
  height: $mobileNav;
  position: fixed;
  top: -$mobileNav;
  transition: top 0.3s;
  border-bottom: 2px solid silver;
}
.navLogoImg {
  display: block;
  position: absolute;
  width: 84px;
  left: 12px;
  top: 10px;
}
.navMyName {
  position: absolute;
  right: 17px;
  top: 16px;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.6px;
  font-size: 30px;
}
.navJobTitle {
  position: absolute;
  right: 18px;
  top: 48px;
  font-family: "Fjalla One", sans-serif;
  font-family: "Tomorrow", sans-serif;
  letter-spacing: 0.4px;
  font-size: 18px;
}
.navMenu {
  height: calc(100% - #{$mobileNav});
  position: fixed;
  bottom: -100vh;
  transition: bottom 0.3s;
  width: 100%;
}
.navMenuOption {
  background-color: gray;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  letter-spacing: 0.6px;
  text-align: center;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openBox {
  margin-left: 0vw !important;
}
#aboutBox {
  margin-top: $mobileNav;
  position: fixed;
  margin-left: -105vw;
  width: 100vw;
  height: 800px;
  background-color: purple;
  transition: margin-left 0.3s;
  overflow: scroll;
}
#portfolioBox {
  margin-top: $mobileNav;
  position: fixed;
  margin-left: -105vw;
  width: 100vw;
  height: 800px;
  background-color: orange;
  transition: margin-left 0.3s;
  overflow: scroll;
}

// CONTACT FORM
#contactBox {
  margin-top: $mobileNav;
  position: fixed;
  margin-left: -105vw;
  width: 100vw;
  height: calc(100vh - #{$mobileNav});
  background-color: silver;
  transition: margin-left 0.3s;
  overflow: scroll;
}
.formOption {
  margin-bottom: 26px;
  padding: 0px 20px;
}
.formTitle {
  text-align: center;
  margin: 40px 0;
}
.contactFormText {
  margin-bottom: 6px;
  display: block;
  letter-spacing: 0.6px;
  // color: lightgray;
}
.fullNameField,
.emailField {
  width: 100%;
  position: relative;
}
.contactFormInput {
  background-color: gainsboro;
  height: 54px;
  border: none;
  padding-left: 11px;
  width: 100%;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.7px;
  padding-right: 40px;
  padding-top: 2px;
  color: lightgray;
}
.formAsterik {
  color: #d12323;
  margin-left: 4px;
}
.formIcon {
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 22px;
  color: #585858;
}

// BUTTONS
.navToggleBtn {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 18px;
  /* color: rgba(255, 255, 255, 0.8); */
  position: fixed;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  border: none;
  background-color: rgba(51, 51, 51, 0.4);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.socialMediaBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 52px;
  height: 54px;
  // border-radius: 8px;
  border: none;
  font-size: 30px;
  color: whitesmoke;
  text-decoration: none;
}
#hireMeBtn {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  text-align: center;
  // padding: 0 3px;
  letter-spacing: 0.6px;
  border-radius: 0px 10px 10px 0px;
}
#firstSocialMediaBtn {
  border-radius: 10px 0px 0px 10px;
}
.socialMediaBtn:active {
  background-color: gainsboro;
}

// .backToTopBtn {
//   bottom: 14%;
//   right: 24px;
//   /* color: rgba(255, 255, 255, 0.8); */
//   position: fixed;
//   border-radius: 50%;
//   height: 40px;
//   width: 40px;
//   border: none;
//   background-color: rgba(51, 51, 51, 0.4);
//   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
// }

.typeWriter > * {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  width: 0;
  margin-bottom: 12px;
}
.introBox {
  @function strip-units($number) {
    @return $number / ($number * 0 + 1);
  }
  // $speed: 0.6s;
  $speed: 0.5s;
  // & means .introBox that is type of .typeWriter
  &.typeWriter > *:nth-child(1) {
    animation: typing $speed steps(30, end) $textDelay 1 forwards,
      blink-caret 0.5s step-end $textDelay (strip-units($speed) / 0.5);
  }
  &.typeWriter > *:nth-child(2) {
    // NAME-duration-TIMING FUNCTION-delay-ITERATION COUNT-direction-FILL MODE-play state (not using playstate)
    animation: typing $speed steps(30, end) ($speed * 1 + $textDelay) 1 forwards,
      blink-caret 0.5s step-end ($speed * 1 + $textDelay)
        ((strip-units($speed)) / 0.5);
  }
  &.typeWriter > *:nth-child(3) {
    animation: typing $speed steps(30, end) ($speed * 2 + $textDelay) 1 forwards,
      blink-caret 0.5s step-end ($speed * 2 + $textDelay)
        (strip-units($speed) / 0.5);
  }
  &.typeWriter > *:nth-child(4) {
    animation: typing $speed steps(30, end) ($speed * 3 + $textDelay) 1 forwards,
      blink-caret 0.5s step-end ($speed * 3 + $textDelay)
        (strip-units($speed) / 0.5);
  }
  &.typeWriter > *:nth-child(5) {
    animation: typing $speed steps(30, end) ($speed * 4 + $textDelay) 1 forwards,
      blink-caret 0.5s step-end ($speed * 4 + $textDelay)
        (strip-units($speed) / 0.5);
  }
  &.typeWriter > *:nth-child(6) {
    animation: typing $speed steps(30, end) ($speed * 5 + $textDelay) 1 forwards,
      blink-caret 0.5s step-end ($speed * 5 + $textDelay) infinite;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.logoAnimation {
  animation: scaleIn $scaleInDuration ease (0s + $startDelay) 1 normal forwards,
    slideUp $slideUpDuration ease ($scaleInDuration + $startDelay) 1 normal
      forwards;
  margin-top: calc(50vh - 40px);
  transform: translateY(-50%) scale(0);
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.2s ease $textDelay 1 normal forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: translateY(-50%) scale(0);
  }
  55% {
    transform: translateY(-50%) scale(1.1);
  }
  65% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes slideUp {
  0% {
    margin-top: calc(50vh - 40px);
    transform: translateY(-50%);
  }
  100% {
    margin-top: 12px;
    transform: translateY(0);
  }
}
