* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
}

.displayHidden {
  display: none;
}

.showNav {
  right: 0 !important;
}

.showForm {
  top: 0;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: gainsboro;
  z-index: 10;
}

.backToTop {
  display: block;
  height: 100%;
}

.openNavBtn {
  background-color: gray;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.openNavIcon,
.closeNavIcon {
  font-size: 28px;
}

.closeNavBtn,
.closeFormBtn {
  background-color: gray;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.navOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hiddenOverlay {
  opacity: 0;
  pointer-events: none;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: silver;
  height: 100%;
  width: 260px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-top: 80px;
}

.desktopNav {
  display: none;
}

.mobileNavLink {
  padding: 20px 0;
}

main {
  padding-top: 60px;
}

.box1 {
  height: calc(100vh - 60px);
}

.landingBgImg {
  position: fixed;
  background-image: url("lion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.box2 {
  height: 500px;
  background-color: orange;
}

.box3 {
  height: 500px;
  background-color: yellow;
}

.box4 {
  height: 500px;
  background-color: green;
}

.box5 {
  height: 500px;
}

.parallaxImg {
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("nature.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  width: 100vw;
  z-index: -2;
  top: 60px;
}

.box6 {
  height: 500px;
  background-color: #2d0080;
}

.box7 {
  height: 500px;
  background-color: #80003c;
}

.ctaBtnWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 310px;
}

.ctaBtn {
  background-color: #5fd3ff;
  border: none;
  width: 210px;
  height: 54px;
  border-radius: 50px;
  position: absolute;
  bottom: calc(100% - 54px - 60px);
  right: calc(50% - 105px);
  -webkit-transition: bottom 0.5s, left 0.5s, right 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
  transition: bottom 0.5s, left 0.5s, right 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
}

form {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: silver;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ctaBtnText {
  font-size: 16px;
}

.btnScrolled {
  position: fixed;
  background-color: #5987a7;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

.btnScrolled .ctaBtnText {
  display: none;
}

.ctaBtnIcon {
  display: none;
}

.btnScrolled .ctaBtnIcon {
  display: block;
  font-size: 24px;
  color: whitesmoke;
}

.navDropdown {
  display: none;
  position: absolute;
  background-color: gainsboro;
  top: 60px;
  left: -8px;
  padding: 8px 0 8px 0;
}

.desktopNavLink:hover + .navDropdown,
.navDropdown:hover,
.navSublink:hover + .subNavDropdown,
.subNavDropdown:hover {
  display: initial;
}

.desktopNavLink {
  color: initial;
  text-decoration: none;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navSublink {
  color: initial;
  text-decoration: none;
  display: block;
  padding: 8px 20px 8px 20px;
  white-space: nowrap;
}

.subNavDropdown {
  display: none;
  position: absolute;
  background-color: gray;
  top: 0px;
  left: 100%;
  padding: 8px 0 8px 0;
}

.navLinkArrow {
  font-size: 20px;
  margin-left: 6px;
}

.subNavLinkArrow {
  font-size: 20px;
  vertical-align: middle;
}

.swiper-container * {
  outline: none !important;
}

.swiper-slide {
  padding: 40px 50px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
  color: red;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal
> .swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}
/*# sourceMappingURL=style.css.map */