$animation-duration: 2s;

@keyframes skeleton-shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton-data-placeholder {
    display: inline-block;
    background-clip: content-box;
    background-attachment: fixed;
    background-color: #d8d8d8;
    background-image: linear-gradient(90deg, #d8d8d8, #bdbdbd, #d8d8d8);
    animation: skeleton-shimmer $animation-duration ease-in-out infinite;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: transparent;
    user-select: none;
    border-radius: inherit;
    animation-delay: 0;
}

.skeleton-data-placeholder * {
    visibility: hidden;
}
