$duration: 20s;
// $duration: 25s;

@keyframes carousel {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-100%);
    }
}

.carousel-wrapper {
    display: flex;
    overflow: hidden;
    background: #eaeaea;
}

.carousel {
    display: inline-flex;
    position: relative;
    // width: fit-content;
    flex-shrink: 0;
    will-change: transform;

    &.animated {
        animation: carousel $duration linear infinite;
    }

    &.paused {
        animation-play-state: paused;
    }
}

// .carousel-wrapper:hover .carousel {
//     animation-play-state: paused;
// }
