$nav-height: 60px;
$options-height: 90px;

* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.displayHidden {
  display: none !important;
}

.pageSize {
  z-index: 100;
  position: fixed;
  top: 90px;
  left: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

nav {
  height: $nav-height;
  background-color: rgba(164, 164, 164, 0.6);
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.nav-logo {
  display: flex;
}
.nav-company-image {
  background: orange;
  width: 40px;
  border-radius: 50%;
  // height: $nav-height;
  margin: 10px;
}
.nav-company-name {
  width: 100px;
  align-self: center;
  text-align: left;
}
.nav-menu-btn {
  width: $nav-height;
  height: 100%;
  border: none;
  background-color: gainsboro;
}
.nav-btns {
  display: flex;
}
.nav-cart-btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  width: 40px;
}
// .nav-menu-btn:active {
//   background-color: gray;
// }
.nav-menu-window {
  background-color: #bababa;
  position: fixed;
  top: $nav-height;
  left: 0px;
  bottom: 0px;
  right: 100%;
  z-index: 150;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
}
.wrapper.open-menu .nav-menu-window {
  right: 20%;
}
main {
  background-color: tan;
  // margin-top: $nav-height;
}
.screen-overlay {
  background: black;
  opacity: 0.7;
  position: fixed;
  top: $nav-height;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.nav-menu-option {
  height: 60px;
  background-color: gainsboro;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav-menu-text {
  font-size: 16px;
  text-align: center;
  color: #4f4f4f;
}
.nav-menu-arrow {
  color: gray;
  font-size: 16px;
  transition: all 0.4s;
}
.nav-arrow-open {
  transform: scale(1, -1);
  margin-top: -2px;
}
.box {
  height: 500px;
}
.nav-option-box {
  height: 0px;
  background: indianred;
  transition: all 0.4s;
}
.open-nav-option {
  height: 130px;
}
.opacity-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing {
  background-color: #64737e;
  height: calc(100vh - #{$nav-height} - #{$options-height});
  position: fixed;
  top: $nav-height;
  z-index: -1;
}
.landing-img {
  height: calc(100vh - #{$nav-height} - #{$options-height});
  min-width: 100vw;
  background-image: url("../images/smilebg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // position: fixed;
  // z-index: -1;
}
.landing-content {
  height: 100%;
  position: absolute;
  padding-top: 62px;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
}
.landing-title {
  text-align: center;
  font-family: "Prata", serif;
  font-size: 32px;
  margin-bottom: 8px;
}
.landing-text {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
}
.landing-options {
  height: $options-height;
  // background-color: #56476b;
  background-color: rgba(129, 129, 129, 0.8);
  // backdrop-filter: blur(24px);
  display: flex;
  column-gap: 10px;
  padding: 10px;
  margin-top: calc(100vh - #{$options-height});
}
.sale-option {
  background-color: #bfbfbf;
  width: 100%;
  border-radius: 6px;
  padding-top: 12px;
  font-size: 14px;
}
.sale-option-icon {
  text-align: center;
  font-size: 20px;
  margin-bottom: 6px;
}
.sale-option-title {
  text-align: center;
}
.cta-btn {
  height: 42px;
  width: 162px;
  margin-left: -81px;
  background: gainsboro;
  border: none;
  border-radius: 40px;
  position: absolute;
  bottom: 30px;
  left: 50%;
}
