* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  background-color: #e7e7ff;
  overflow: hidden;
  font-family: "Baloo Da 2", cursive;
  font-size: 16px;
}
.wrapper {
  background-color: white;
  padding: 20px 22px 88px 22px;
  max-width: 850px;
  margin: 0 auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  position: relative;
}
.logo {
  width: 58px;
  // fix img size bug (https://github.com/philipwalton/flexbugs/issues/184)
  height: 46px;
  margin-right: 16px;
  margin-bottom: 1px;
  margin-left: -1px;
}
.name {
  // color: pink;
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 1px;
}
.jobTitle {
  // font-family: "Baloo Da 2", cursive;
  letter-spacing: 0.1px;
  word-spacing: 2.3px;
  font-size: 16px;
  margin-left: -1px;
}
.profile {
  display: flex;
  margin-bottom: 30px;
}
.contact {
  margin-left: 60px;
  padding-bottom: 18px;
}
.contactText {
  font-size: 16px;
  // margin-left: 8px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.contactIcon {
  color: #7f7ff9;
  font-size: 21px;
}
#addressIcon {
  // margin-left: 2px;
  // margin-right: 2px;
  font-size: 22px;
}
// #phoneIcon {
//   margin-right: -1px;
// }
#githubIcon {
  font-size: 24px;
  // margin-right: -2px;
  margin-left: -1px;
}
// #emailIcon {
//   margin-right: 1px;
// }
.contactInfo {
  display: flex;
  align-items: center;
  // margin-bottom: 12px;
  text-decoration: none;
  column-gap: 8px;
  border-radius: 30px;
  padding: 10px 14px;
  width: fit-content;
  transition: background-color 0.3s;
}
.headings {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.2px;
  font-size: 24px;
  border-top: 3px solid #073763;
  padding-top: 12px;
}
.webSkills {
  background: #e8e8e8;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #e3e3e3;
}
.webSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #7f7ff9;
  color: whitesmoke;
  letter-spacing: 0.5px;
  padding: 0px 12px;
  height: 30px;
  line-height: 16px;
}
.skillYears {
  margin-bottom: 7px;
  padding-left: 1px;
  line-height: 19px;
  word-spacing: 1.8px;
  // width: 100%;
}
.skillYears:nth-of-type(2) {
  margin-top: 10px;
}
.yearText {
  font-weight: bold;
}
.webSkill-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
}
.webSkill-wrapper:first-of-type {
  margin-bottom: 20px;
}
.webSkill-title {
  font-weight: bold;
  padding-right: 4px;
  padding-top: 1px;
  padding-left: 1px;
}
#yearDot {
  letter-spacing: 1.6px;
  margin-left: 1px;
}
.skills {
  margin-bottom: 20px;
  margin-top: 10px;
}
.projects {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.projects,
.exp,
.edu,
.achievements,
.hobbies {
  margin-top: 16px;
  margin-bottom: 16px;
}
.expDescription {
  word-spacing: 1px;
  font-style: italic;
  margin-bottom: 2px;
}
.projectBox {
  margin-bottom: 4px;
}
.project-link-container {
  margin-top: 6px;
  // padding-left: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.projectLink {
  color: #7f7ff9;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 30px;
  padding: 10px 14px;
  width: fit-content;
}
.projectLink i {
  font-size: 18px;
  text-decoration: none;
}
.projectLink-text {
  padding-top: 1px;
  color: #000000;
}
.projectImgLink {
  display: block;
  height: 240px;
  margin-top: 6px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.projectImgLink:active .projectHover {
  color: blue;
}
.projectTitle {
  font-weight: bold;
  font-size: 18px;
  word-spacing: 1.4px;
}
// .projectDescription {
//   word-spacing: 1.3px;
// }
.projectHover {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s;
}
.visitArrow {
  font-size: 22px;
  margin-left: 5px;
  margin-bottom: 1px;
}
.jobInfo {
  display: flex;
  margin-bottom: 2px;
  column-gap: 4px;
}
.job,
.school {
  margin-bottom: 14px;
}
.emphasize {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.skillPoint {
  font-size: 28px;
  // margin-right: 4px;
  margin-left: 2px;
  line-height: 22px;
}
.skillText {
  line-height: 22px;
  word-spacing: 1.4px;
}
#ortho-project {
  background-image: url(./images/orthoImg.png);
}
#portfolio-project {
  background-image: url(./images/portfolioimg.png);
  background-position-x: left;
}
// .orthoImg {
//   border: 1px solid black;
//   width: 100%;
// }
.eduCourse {
  font-style: italic;
  margin-top: 1px;
  margin-bottom: 2px;
}
.saveBtns {
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -61px;
  display: flex;
}
.saveBtn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: initial;
  text-decoration: none;
  border: 2px solid #d3d3d3;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // outline: none;
  cursor: pointer;
  position: relative;
}
.saveBtn:first-child {
  margin-right: 18px;
}
.downloadIcon {
  width: 24px;
  opacity: 0.8;
}
.iconToolTip {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 36px;
  transition: opacity 0.5s;
  top: 15px;
  width: 80px;
  font-size: 18px;
  text-align: right;
}

.pageBreak {
  display: none;
}

// active states
// a.contactText:active,
// a.projectLink:active {
//   text-decoration: underline;
//   color: black;
// }
.saveBtns .saveBtn:active {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
}

// button:hover {
//   outline: none;
// }
